<div class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name="id" id="extend-id" value="">
    <input type="hidden" name="companyId" id="extend-companyId" value="">

    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">应用平台</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <select class="form-control" name="appId" id="form-appId">
                {% for data in appList reversed %}
                    <option value="{{ data.id }}">{{ data.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">迈豆数</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <input type="text" class="form-control input-sm" name="credit1" id="extend-credit1" placeholder="数字类型">
        </div>
    </div>
</div>

<script>
$(function () {
    var credit_url = '{% url 'admin:contract_credit' %}';
    var index_url = window.location.href;
    /**
     * 迈豆分配按钮触发的操作
     */
    $('[data-form="edit-extend-model"]').click(function () {
        var startTime = $(this).attr('data-startTime');
        var endTime = $(this).attr('data-endTime');
        var startTimeSecond = (new Date(startTime.replace(/-/g, '/'))).getTime();
        var endTimeSecond = (new Date(endTime.replace(/-/g, '/'))).getTime();
        var nowTime = (new Date()).getTime();

        var creditAllot = 0;
        var data_credit_h2 = $('[data-extend="credit"]');
        if(nowTime >= startTimeSecond && nowTime <= endTimeSecond){
            // 如果合同在有效期内
            var num = $(this).attr('data-number');
            var amount = $(this).attr('data-amount');
            var credit1 = $(this).attr('data-credit1');
            var creditSum = 0;
            if(credit1 > 0){
                creditSum += parseFloat(credit1);
            }
            console.log(num);
            console.log(amount);
            console.log(creditSum);
            console.log(credit1);
            creditAllot = num * amount - creditSum;
            console.log(1);
        }
        data_credit_h2.text(creditAllot);
        var id = $(this).attr('data-id');
        var companyId = $(this).attr('data-cid');
        $('#extend-id').val(id);
        $('#extend-companyId').val(companyId);

    });

    /**
     * 表单验证提交按钮触发的操作
     */
    var rules = {
        'credit1':{
            required:true,
            number:true
        }
    };
    subActionAjaxValidateForMime('#credit_config_extend_validate', rules, credit_url, index_url);
});
</script>