{% extends 'admin/layouts/base.html' %}

{% block content %}

<div id="content">
    <div id="content-header" class="mini">
        <h1>合同管理</h1>
    </div>
    <div class="row">
        <form action="" method="post">
        <div class="col-xs-12 center">
            <label>
               <select id="form-appId" name="cid" class="form-control">
                    <option value="0">请选择所属企业</option>
                    {% for data in comList reversed  %}
                        <option value="{{ data.id }}" {% ifequal data.id data.cid %} selected {%endifequal%}>{{ data.name }}</option>
                    {% endfor %}
            </select>
            </label>
            <label>合同名称：
                <input type="text" name="name" value="{{ post.name }}">
            </label>
            <label>合同编号：
                <input type="text" name="number" value="{{ post.code }}">
            </label>
            <button type="submit" class="btn btn-primary">查询</button>
            <a href="#myModal" data-toggle="modal" class="btn btn-info" data-form="add-model">添加</a>
{#            <button class="btn btn-success" data-form="enable">启用</button>#}
            <button class="btn btn-warning" data-form="disable">删除</button>
        </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-th"></i>
                    </span>
                    <h5>合同列表</h5>
                </div>
                <div class="widget-content">
                    <table id="data-list-form" class="table table-bordered table-striped table-hover with-check table-data">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
                                    <input type="hidden" id="form-statusType" name="statusType" value="enable" />
                                </th>
                                <th>合同名称</th>
                                <th>合同编号</th>
                                <th>合同金额</th>
                                <th>兑换比例</th>
                                <th>合同时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for data in  list  %}
                            <tr>
                                <td>
                                    <input data-form="check-model" type="checkbox" name="selection[]" value="{{ data.id }}"/>
                                </td>
                                <td>{{ data.name }}</td>
                                <td>{{ data.code }}</td>
                                <td>{{ data.amount }}</td>
                                <td>{{ data.number }}</td>
                                <td>{{ data.createTime }}</td>
                                <td>
                                    <a href="#myModal" data-toggle="modal" data-form="edit-model" class="btn btn-default btn-xs"
                                       data-id="{{ data.id }}"
                                       data-cid="{{ data.cid }}"
                                       data-name="{{ data.name }}"
                                       data-code="{{ data.code }}"
                                       data-number="{{ data.number }}"
                                       data-amount="{{ data.amount }}"
                                       data-img="{{ data.img }}"
                                       data-startTime="{{ data.startTime }}"
                                       data-endTime="{{ data.endTime }}"
                                    ><i class="fa fa-edit"></i> 编辑</a>
                                    <a href="#viewModal" data-toggle="modal" data-form="view-model" class="btn btn-default btn-xs"
                                       data-id="{{ data.id }}"
                                       data-name="{{ data.name }}"
                                       data-img="{{ data.img }}"
                                    ><i class="fa fa-eye"></i> 查看</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'admin/common/page.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>合同管理</h3>
            </div>
            <div class="modal-body">
                {% include 'admin/contract/form.html' %}
            </div>
        </div>
    </div>
</div>
<div id="viewModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>查看迈豆规则列表</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p data-toggle="form-name"></p>
                </div>
                <div align="center" data-toggle="form-img"></div>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" class="btn btn-default btn-small" href="javascript:;">关闭</a>
            </div>
        </div>
    </div>
</div>



<div id="viewModal2" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>迈豆发放</h3>
            </div>
<div class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name="id" id="form-id" value="">
    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">应用平台</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <select class="form-control" name="appId" id="form-appId">
                {% for key, val in appList.items %}
                    <option value="{{ key }}">{{ val }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">迈豆值</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <input type="text" class="form-control input-sm" name="initNum" id="form-initNum" placeholder="数字类型，不可为空">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">状态</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <select class="form-control" name="status" id="form-status">
                {% for key,value in c_status.items %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

            <div class="modal-footer">
                <a data-dismiss="modal" class="btn btn-default btn-small" href="javascript:;">关闭</a>
            </div>
        </div>
    </div>
</div>

<script>
$(function () {
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    /**
     * 点击添加按钮触发的操作
     */
    $('[data-form="add-model"]').click(function () {
        var kong = '';
        $('#form-id').val(kong);
        $('#form-name').val(kong);
        $('#form-number').val(kong);
        $('#form-amount').val(kong);
        $('#form-startTime').val(kong);
        $('#form-endTime').val(kong);
        $('[data-toggle="upload-progressInput-one"]').val(kong);
        uploadDataReset('one');
    });
    /**
     * 点击修改按钮触发的操作
     */
    $('[data-form="edit-model"]').click(function () {
        var id = $(this).attr('data-id');
        var cid = $(this).attr('data-cid');
        var name = $(this).attr('data-name');
        var code = $(this).attr('data-code');
        var number = $(this).attr('data-number');
        var amount = $(this).attr('data-amount');
        var img = $(this).attr('data-img');
        var startTime = $(this).attr('data-startTime');
        var endTime = $(this).attr('data-endTime');
        $('#form-id').val(id);
        $('#form-cid').val(cid);
        $('#form-name').val(name);
        $('#form-number').val(number);
        $('#form-code').val(code);
        $('#form-amount').val(amount);
        $('[data-toggle="upload-progressInput-one"]').val(img);
        $('#form-startTime').val(startTime);
        $('#form-endTime').val(endTime);
        uploadDataReset('one');
    });
    /**
     * 点击form提交按钮触发的操作
     */
    $('#form-submit-one').click(function () {
        var data = {};
        data.id = $('#form-id').val();
        data.name = $('#form-name').val();
        data.number = $('#form-number').val();
        data.amount = $('#form-amount').val();
        data.img = $('#form-img').val();
        data.startTime = $('#form-startTime').val();
        data.endTime = $('#form-endTime').val();
        data.img = $('[data-toggle="upload-progressInput-one"]').val();
        var url = '/contract/form.html';
        var location = '/admin/contract/index';
        console.log(data);
        subActionAjaxForMime('post', url, data, location);
    });

    /**
     * 删除
     */
    $('[data-form="disable"]').click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verifyChecked = verifyCheckedForMime(check);
        if(false == verifyChecked){
            return false;
        }
        swal({
            title: "您确定要删除选中的信息吗?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: '取消',
            confirmButtonColor: "#f8ac59",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            var data = {};
            data.selection = getDataListForMime(check);
            var url = '/admin/contract/updateStatus';
            var location = '/contract/index';
            console.log(data);
            subActionAjaxForMime('post', url, data, location);
        });
        return false;
    });

    /**
     * 查看详情
     */
    $('[data-form="view-model"]').click(function(){
        var name = $(this).attr('data-name');
        var img = $(this).attr('data-img');
        var html = '';
        if(img){
            var fix = '';
            var pattern = /^http:\/\//i;
            var preg = pattern.test(img);
            if(false == preg){
                fix = 'http://' + window.location.host;
            }
            //html += '<img class="img-thumbnail" max-width="100%" max-height="100%"  src="' + fix + img + '">';
        }else {
            //html += '<p class="single-line">无数据</p>';
        }

        $('[data-toggle="form-name"]').text(name);
        $('[data-toggle="form-img"]').html(html);
    });

    /**
     * 日期插件
     */
    $('#form-startTime').datepicker({
		onClose: function( selectedDate ) {
			$( "#form-endTime" ).datepicker( "option", "minDate", selectedDate );
		}
	});
	$('#form-endTime').datepicker({
		onClose: function( selectedDate ) {
			$( "#form-startTime" ).datepicker( "option", "maxDate", selectedDate );
		}
	});
});
</script>

{% endblock %}