<link rel="stylesheet" href="http://www.yyyweb.com/demo/lightbox/css/lightbox.css">
{% extends 'admin/layouts/base.html' %}

{% block content %}

<div id="content">
    <div id="content-header" class="mini">
        <h1>合同管理</h1>
    </div>
    <div class="row">
        <form action="" method="post">
        <div class="col-xs-12 center">
            <label>
               <select id="form-cid" name="cid" class="form-inline2">
                    <option value="" selected>请选择所属企业</option>
                    {% for data in comList reversed  %}
                        <option value="{{ data.id }}">{{ data.name }}</option>
                    {% endfor %}
            </select>
            </label>
            <label>合同名称：
                <input type="text" name="name" value="{{ ctrlList.name }}">
            </label>
            <label>合同编号：
                <input type="text" name="number" value="{{ ctrlList.code }}">
            </label>
            <button type="submit" class="btn btn-primary">查询</button>
            <a href="#myModal" data-toggle="modal" class="btn btn-info" data-form="add-model">添加</a>
            <button class="btn btn-success" data-form="enable" name="data-form" status="1">启用</button>
            <button class="btn btn-warning" data-form="disable" name="data-form" status="0">禁用</button>
            <a href="javascript:;" class="btn btn-danger" data-form="delete">删除</a>
        </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-th"></i>
                    </span>
                    <h5>合同列表</h5>
                </div>
                <div class="widget-content">
                    <table id="data-list-form" class="table table-bordered table-striped table-hover with-check table-data">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
                                    <input type="hidden" id="form-statusType" name="statusType" value="enable" />
                                </th>
                                <th>合同名称</th>
                                <th>合同编号</th>
                                <th>合同金额</th>
                                <th>兑换比例</th>
                                <th>迈豆等值</th>
                                <th>合同时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in  data_list  %}
                            <tr>
                                <td>
                                    <input data-form="check-model" type="checkbox" name="selection[]" value="{{ data.id }}"/>
                                </td>
                                <td>{{ data.name }}</td>
                                <td>{{ data.code }}</td>
                                <td>{{ data.amount }}</td>
                                <td>{{ data.number }}</td>
                                <td align="center"><button disabled="" class="btn btn-dark-green btn-xs">{% widthratio data.amount 1 data.number %}</button></td>
                                <td>{{ data.startTime }}-{{ data.endTime }}</td>
                                <td>
                                    {% for key, val in c_status.items %}
                                        {% if key == data.status %}
                                            {{ val }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="#myModal" data-toggle="modal" data-form="edit-model" class="btn btn-default btn-xs"
                                       data-id="{{ data.id }}"
                                       data-cid="{{ data.cid }}"
                                       data-name="{{ data.name }}"
                                       data-status="{{ data.status }}"
                                       data-code="{{ data.code }}"
                                       data-number="{{ data.number }}"
                                       data-amount="{{ data.amount }}"
                                       data-img="{{ data.img }}"
                                       data-startTime="{{ data.startTime }}"
                                       data-endTime="{{ data.endTime }}"
                                    ><i class="fa fa-edit"></i> 编辑</a>
                                    <a href="#extendModal" data-toggle="modal" data-form="edit-extend-model" class="btn btn-default btn-xs"
                                       data-id="{{ data.id }}"
                                       data-cid="{{ data.cid }}"
                                       data-number="{{ data.number }}"
                                       data-amount="{{ data.amount }}"
                                       data-credit1="{{ data.credit1 }}"
                                       data-startTime="{{ data.startTime }}"
                                       data-endTime="{{ data.endTime }}"
                                    ><i class="fa fa-edit"></i> 迈豆分配</a>

                                    {%if data.img %}
                                    <span class="image-row">
				                        <a class="example-image-link example-image-link btn btn-default btn-xs" href="{{ data.img }}" data-lightbox="example-1"><i class="fa fa-eye "></i> 查看合同</a>
			                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'admin/common/page.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>合同管理</h3>
            </div>
            <div class="modal-body">
                {% include 'admin/contract/form.html' %}
            </div>
        </div>
    </div>
</div>

<div id="extendModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>迈豆分配</h3>
                <span>可分配总额度：<label data-extend="credit" class="label label-danger">40</label></span>
            </div>
            <form id="credit_config_extend_validate" novalidate="novalidate">
            <div class="modal-body">
                {% include 'admin/contract/extend.html' %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-small">确定</button>
                <button data-dismiss="modal" class="btn btn-default btn-small">取消</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script src="http://www.yyyweb.com/demo/lightbox/js/lightbox.js"></script>
<script>
$(function () {
    var delete_url = '{% url 'admin:contract_delete' %}';
    var stats_url = '{% url 'admin:contract_updateStatus' %}';
    var form_url = '{% url 'admin:contract_save' %}';
    var index_url = '{% url 'admin:contract' %}';
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    var cid = '{{ ctrlList.cid }}';
    if(cid){
        $('#form-cid').val(cid);
    }

    /**
     * 点击添加按钮触发的操作
     */
    $('[data-form="add-model"]').click(function () {
        if($("#form-id")[0]){
            $("#form-id").val('');
        }
        //重置表单
        $('#contract_validate')[0].reset()
        uploadDataReset('one');
    });
    /**
     * 点击修改按钮触发的操作
     */
    $('[data-form="edit-model"]').click(function () {
        var id = $(this).attr('data-id');
        var cid = $(this).attr('data-cid');
        var name = $(this).attr('data-name');
        var code = $(this).attr('data-code');
        var number = $(this).attr('data-number');
        var amount = $(this).attr('data-amount');
        var img = $(this).attr('data-img');
        var startTime = $(this).attr('data-startTime');
        var endTime = $(this).attr('data-endTime');
        var status = $(this).attr('data-status');
        $('#form-id').val(id);
        $('#cid').val(cid);
        //$("#form-cid option[value=cid]").attr("selected", true);
        $('#form-name').val(name);
        $('#form-number').val(number);
        $('#form-code').val(code);
        $('#form-amount').val(amount);
        $('[data-toggle="upload-progressInput-one"]').val(img);
        $('#form-startTime').val(startTime);
        $('#form-endTime').val(endTime);
        $("input[type=radio][name=status][value="+status+"]").parent('div').addClass('checked');
        $("input[type=radio][name=status][value="+status+"]").parent().parent().siblings().find('div').removeClass('checked')

        uploadDataReset('one');
    });
    /**
     * 点击form提交按钮触发的操作
     */
    $('#form-submit-one').click(function () {
        var data = {};
        data.id = $('#form-id').val();
        data.name = $('#form-name').val();
        data.number = $('#form-number').val();
        data.amount = $('#form-amount').val();
        data.img = $('#form-img').val();
        data.startTime = $('#form-startTime').val();
        data.endTime = $('#form-endTime').val();
        data.img = $('[data-toggle="upload-progressInput-one"]').val();
        console.log(data);
        subActionAjaxForMime('post', form_url, data, index_url);
    });

    /**
     * 禁用/启用
     */
    $("button[name='data-form']").click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verify = verifyChecked(check);
        var status = $(this).attr('status');
        if(false == verify){
            return false;
        }
        swal({
            title: "您确定要操作选中的信息吗?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: '取消',
            confirmButtonColor: "#f8ac59",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            var data = {};
            data.selection = getDataListForMime(check);
            data.status = status;
            console.log(data);
            subActionAjaxForMime('post', stats_url, data, index_url);
        });
        return false;
    });

    /**
     * 删除
     */
    $('[data-form="delete"]').click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verifyChecked = verifyCheckedForMime(check);
        if(true == verifyChecked){
            deleteDataMultiple(check, delete_url, index_url);
        }else {
            return false;
        }
    });

    /**
     * 日期插件
     */
    $('#form-startTime').datepicker({
        dateFormat: "yy/mm/dd",
		onClose: function( selectedDate ) {
			$( "#form-endTime" ).datepicker( "option", "minDate", selectedDate );
		}
	});
	$('#form-endTime').datepicker({
        dateFormat: "yy/mm/dd",
		onClose: function( selectedDate ) {
			$( "#form-startTime" ).datepicker( "option", "maxDate", selectedDate );
		}
	});
});
</script>

{% endblock %}