/.idea
/runtime

/MyProject.komodoproject
/static
/UserCenter/__pycache__
/admin/__pycache__
/admin/migrations/__pycache__
/templates/__pycache__
/admin/tests.py
/admin/model/__pycache__
/admin/controller/__pycache__
/admin/templates/admin/common/test.html
/admin/helper/__pycache__
/md_usercenter
/.project
/.pydevproject
/collected_static
/api/__pycache__
/api/tests.py
/uploads
/api/controller/__pycache__
/UserCenter/settings.py
/api/migrations/__pycache__
/UserCenter/settings.py
