<ul class="pagination">
    {% if list.has_previous %}
        <li><a href="?page={{ list.previous_page_number }}">Prev</a></li>
    {% else %}
        <li class="disabled"><a href="javascript:;">Prev</a></li>
    {% endif %}
    {% if list %}
        {% for page in list.paginator.page_range %}
            {% ifequal page list.number %}
                <li class="active"><a href="javascript:;">{{ page }}</a></li>
            {% else %}
                <li><a href="?page={{ page }}">{{ page }}</a></li>
            {% endifequal  %}
        {% endfor %}
    {% else %}
        <li class="active"><a href="javascript:;">1</a></li>
    {% endif %}
    {% if list.has_next %}
        <li><a href="?page={{ list.next_page_number }}">Next</a></li>
    {% else %}
        <li class="disabled"><a href="javascript:;">Next</a></li>
    {% endif %}
</ul>