{% extends 'admin/layouts/base.html' %}

{% block content %}

<div id="content">
    <div id="content-header" class="mini">
        <h1>积分策略配置</h1>
    </div>
    <div id="breadcrumb">
        <a href="{% url 'admin:index' %}" class="tip-bottom"><i class="fa fa-home"></i>首页</a>
        <a href="{% url 'admin:company' %}">企业</a>
        <a href="{% url 'admin:app' %}?companyId={{ form_companyData.id }}">应用平台</a>
        <a href="{% url 'admin:credit_config' %}?appId={{ form_appData.id }}">项目</a>
        <a href="#" class="current">积分策略</a>
    </div>
    <div class="row">
        <form action="" method="get">
        <div class="col-xs-12 center">
            <label>名称：
                <input type="text" name="name" value="{{ ctrlList.name }}">
            </label>
            <button type="submit" class="btn btn-primary">查询</button>
            <a href="#myModal" data-toggle="modal" class="btn btn-info" data-form="add-model">添加</a>
            <a href="javascript:;" class="btn btn-success" data-form="enable">启用</a>
            <a href="javascript:;" class="btn btn-warning" data-form="disable">禁用</a>
        </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-th"></i>
                    </span>
                    <h5>积分策略列表</h5>
                </div>
                <div class="widget-content">
                    <table id="data-list-form" class="table table-bordered table-striped table-hover with-check table-data">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
                                    <input type="hidden" id="form-statusType" name="statusType" value="enable" />
                                </th>
                                <th>名称</th>
                                <th>api规则名</th>
                                <th>规则类型</th>
                                <th>奖励周期</th>
                                <th>次数</th>
                                <th>迈豆系数</th>
                                <th>状态</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in data_list.object_list  %}
                            <tr>
                                <td>
                                    <input data-form="check-model" type="checkbox" name="selection[]" value="{{ list.id }}"/>
                                </td>
                                <td>{{ list.name }}</td>
                                <td>{{ list.apiName }}</td>
                                <td>
                                    {% for val in list_integralType %}
                                        {% if val.id|iriencode == list.integralType %}
                                            {{ val.name }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for key, val in c_cycle.items %}
                                        {% if key == list.cycle %}
                                            {{ val }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ list.rewardNum }}</td>
                                <td>{{ list.ratio }}</td>
                                <td>
                                    {% for key, val in c_status.items %}
                                        {% if key == list.status %}
                                            {{ val }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ list.createTime |date:"Y-m-d H:i:s" }}</td>
                                <td>
                                    <a href="#myModal" data-toggle="modal" data-form="edit-model" class="btn btn-default btn-xs"
                                       data-id="{{ list.id }}"
                                       data-contractId="{{ list.contractId }}"
                                       data-name="{{ list.name }}"
                                       data-apiName="{{ list.apiName }}"
                                       data-integralType="{{ list.integralType }}"
                                       data-cycle="{{ list.cycle }}"
                                       data-ratio="{{ list.ratio }}"
                                       data-rewardNum="{{ list.rewardNum }}"
                                       data-status="{{ list.status }}"
                                    ><i class="fa fa-edit"></i> 编辑</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'admin/common/page.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>积分策略</h3>
            </div>
            <form id="credit_rule_form_validate" novalidate="novalidate">
            <div class="modal-body">
                {% include 'admin/credit_rule/form.html' %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-small" id="form-submit">确定</button>
                <button data-dismiss="modal" class="btn btn-default btn-small">取消</button>
            </div>
            </form>
        </div>
    </div>
</div>


<script>
$(function () {
    var app_list_url = '{% url 'admin:app_applist' %}';
    var creditConfig_list_url = '{% url 'admin:credit_config_creditconfiglist' %}';
    var stats_url = '{% url 'admin:credit_rule_stats' %}';
    var form_url = '{% url 'admin:credit_rule_form' %}';
    var index_url = window.location.href;
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
    });

    /**
     * 点击添加按钮触发的操作
     */
    $('[data-form="add-model"]').click(function () {
        var kong = '';
        var cycle = $('#form-cycle');
        var defaultCycle = cycle.find('option:first').val();
        cycle.val(defaultCycle);
        $('#form-id').val(kong);
        $('#form-name').val(kong);
        $('#form-apiName').val(kong);
        $('#form-ratio').val(kong);
        $('#form-integralType').val(kong);
        $('#form-rewardNum').val(kong);
        $('#form-status').val(1);
    });
    /**
     * 点击修改按钮触发的操作
     */
    $('[data-form="edit-model"]').click(function () {
        var id = $(this).attr('data-id');
        var name = $(this).attr('data-name');
        var apiName = $(this).attr('data-apiName');
        var integralType = $(this).attr('data-integralType');
        var cycle = $(this).attr('data-cycle');
        var ratio = $(this).attr('data-ratio');
        var rewardNum = $(this).attr('data-rewardNum');
        var status = $(this).attr('data-status');
        $('#form-id').val(id);
        $('#form-name').val(name);
        $('#form-apiName').val(apiName);
        $('#form-integralType').val(integralType);
        $('#form-cycle').val(cycle);
        $('#form-ratio').val(ratio);
        $('#form-rewardNum').val(rewardNum);
        $('#form-status').val(status);
    });
    /**
     * 表单验证提交按钮触发的操作
     */
    var rules = {
        name:{
            required:true
        },
        apiName:{
            required:true
        },
        rewardNum:{
            number:true
        },
        ratio:{
            number:true
        }
    };
    subActionAjaxValidateForMime('#credit_rule_form_validate', rules, form_url, index_url);

    /**
     * 启用
     */
    $('[data-form="enable"]').click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verifyChecked = verifyCheckedForMime(check);
        if(true == verifyChecked){
            enableDataMultiple(check, stats_url, index_url);
        }else {
            return false;
        }
    });

    /**
     * 禁用
     */
    $('[data-form="disable"]').click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verifyChecked = verifyCheckedForMime(check);
        if(true == verifyChecked){
            disableDataMultiple(check, stats_url, index_url);
        }else {
            return false;
        }
    });

  /**
   * 获取企业应用列表
   */
   $('#form-appId').change(function () {
      changeListDataByAjaxForMime(creditConfig_list_url, {'appId': this.value}, '#form-creditConfigId', 'optionHtml');
        console.log(this.value);
    });
});
</script>

{% endblock %}