{% extends 'admin/layouts/base.html' %}

{% block content %}

<div id="content">
    <div id="content-header" class="mini">
        <h1>积分策略配置</h1>
    </div>
    <div class="row">
        <form action="" method="get">
        <div class="col-xs-12 center">
            <label>企业名称：
                <select class="form-inline2" name="companyId" id="form-searchCompanyId">
                    {% for key, val in companyList.items %}
                        <option value="{{ key }}">{{ val }}</option>
                    {% endfor %}
                </select>
            </label>
            <button type="submit" class="btn btn-primary">查询</button>
            <a href="#myModal" data-toggle="modal" class="btn btn-info" data-form="add-model">添加</a>
            <a href="javascript:;" class="btn btn-success" data-form="enable">启用</a>
            <a href="javascript:;" class="btn btn-warning" data-form="disable">禁用</a>
        </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-th"></i>
                    </span>
                    <h5>积分策略列表</h5>
                </div>
                <div class="widget-content">
                    <table id="data-list-form" class="table table-bordered table-striped table-hover with-check table-data">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
                                    <input type="hidden" id="form-statusType" name="statusType" value="enable" />
                                </th>
                                <th>所属应用</th>
                                <th>备注名</th>
                                <th>奖励周期</th>
                                <th>次数</th>
                                {% for key, val in c_ext_credit.items %}
                                    <th>{{ val }}</th>
                                {% endfor %}
                                <th>状态</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in data_list.object_list  %}
                            <tr>
                                <td>
                                    <input data-form="check-model" type="checkbox" name="selection[]" value="{{ list.id }}"/>
                                </td>
                                <td>
                                    {% for key, val in appList.items %}
                                        {% if key == list.appId %}
                                            {{ val }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ list.remark }}</td>
                                <td>
                                    {% for key, val in c_cycle.items %}
                                        {% if key == list.cycle %}
                                            {{ val }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ list.rewardNum }}</td>
                                {% for key, val in c_ext_credit.items %}
                                    <td>
                                    {% for k, v in list.extend.items %}
                                        {% if key == k %}
                                            {{ v }}
                                        {% endif %}
                                    {% endfor %}
                                    </td>
                                {% endfor %}
                                <td>
                                    {% for key, val in c_status.items %}
                                        {% if key == list.status %}
                                            {{ val }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ list.createTime |date:"Y-m-d H:i:s" }}</td>
                                <td>
                                    <a href="#myModal" data-toggle="modal" data-form="edit-model" class="btn btn-default btn-xs"
                                       data-id="{{ list.id }}"
                                       data-appId="{{ list.appId }}"
                                       data-name="{{ list.name }}"
                                       data-remark="{{ list.remark }}"
                                       {% for key, val in list.extend.items %}
                                       data-{{ key }}="{{ val }}"
                                       {% endfor %}
                                       data-cycle="{{ list.cycle }}"
                                       data-rewardNum="{{ list.rewardNum }}"
                                       data-ratio="{{ list.ratio }}"
                                       data-status="{{ list.status }}"
                                    ><i class="fa fa-edit"></i> 编辑</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'admin/common/page.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>积分策略</h3>
            </div>
            <form id="credit_rule_form_validate" novalidate="novalidate">
            <div class="modal-body">
                {% include 'admin/credit_rule/form.html' %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-small" id="form-submit">确定</button>
                <button data-dismiss="modal" class="btn btn-default btn-small">取消</button>
            </div>
            </form>
        </div>
    </div>
</div>


<script>
$(function () {
    var app_list_url = '{% url 'admin:app_applist' %}';
    var creditConfig_list_url = '{% url 'admin:credit_config_creditconfiglist' %}';
    var stats_url = '{% url 'admin:credit_rule_stats' %}';
    var form_url = '{% url 'admin:credit_rule_form' %}';
    var index_url = window.location.href;
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
    });

    var credit_full_list = [];
    {% for key, val in c_ext_credit.items %}
        credit_full_list['{{ key }}'] = '{{ val }}';
    {% endfor %}

    console.log(credit_full_list);

    /**
     * 点击添加按钮触发的操作
     */
    $('[data-form="add-model"]').click(function () {
        var kong = '';
        var cycle = $('#form-cycle');
        var defaultCycle = cycle.find('option:first').val();
        cycle.val(defaultCycle);
        selectOptionHtmlForMime({}, '#form-appId');
        selectOptionHtmlForMime({}, '#form-creditConfigId');
        $('#form-companyId').val(kong);
        $('#form-id').val(kong);
        $('#form-name').val(kong);
        $('#form-remark').val(kong);
        $('#form-rewardNum').val(kong);
        $('#form-ratio').val(kong);
        $('#form-status').val(1);
        for(var i in credit_full_list){
            $('#form-' + i).val(kong);
        }
    });
    /**
     * 点击修改按钮触发的操作
     */
    $('[data-form="edit-model"]').click(function () {
        var id = $(this).attr('data-id');
        var companyId = $(this).attr('data-companyId');
        var appId = $(this).attr('data-appId');
        var creditConfigId = $(this).attr('data-creditConfigId');
        var name = $(this).attr('data-name');
        var remark = $(this).attr('data-remark');
        var cycle = $(this).attr('data-cycle');
        var rewardNum = $(this).attr('data-rewardNum');
        var ratio = $(this).attr('data-ratio');
        var status = $(this).attr('data-status');
        changeListDataByAjaxForMime(app_list_url, {'companyId': companyId}, '#form-appId', 'optionHtml', appId);
        changeListDataByAjaxForMime(creditConfig_list_url, {'appId': appId}, '#form-creditConfigId', 'optionHtml', creditConfigId);
        $('#form-id').val(id);
        $('#form-companyId').val(companyId);
        $('#form-name').val(name);
        $('#form-remark').val(remark);
        $('#form-cycle').val(cycle);
        $('#form-rewardNum').val(rewardNum);
        $('#form-ratio').val(ratio);
        $('#form-status').val(status);
        for(var i in credit_full_list){
            $('#form-' + i).val($(this).attr('data-' + i));
        }
    });
    /**
     * 表单验证提交按钮触发的操作
     */
    var rules = {
        name:{
            required:true
        },
        remark:{
            required:true
        },
        rewardNum:{
            number:true
        }
        {% for key in c_ext_credit %}
            ,'extend[{{ key }}]':{
                number:true
            }
        {% endfor %}
    };
    subActionAjaxValidateForMime('#credit_rule_form_validate', rules, form_url, index_url);

    /**
     * 启用
     */
    $('[data-form="enable"]').click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verifyChecked = verifyCheckedForMime(check);
        if(true == verifyChecked){
            enableDataMultiple(check, stats_url, index_url);
        }else {
            return false;
        }
    });

    /**
     * 禁用
     */
    $('[data-form="disable"]').click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verifyChecked = verifyCheckedForMime(check);
        if(true == verifyChecked){
            disableDataMultiple(check, stats_url, index_url);
        }else {
            return false;
        }
    });

  /**
   * 获取企业应用列表
   */
    $('#form-companyId').change(function () {
      changeListDataByAjaxForMime(app_list_url, {'companyId': this.value}, '#form-appId', 'optionHtml');
        console.log(this.value);
    });
   $('#form-appId').change(function () {
      changeListDataByAjaxForMime(creditConfig_list_url, {'appId': this.value}, '#form-creditConfigId', 'optionHtml');
        console.log(this.value);
    });
});
</script>

{% endblock %}