<div class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name="id" id="extend-id" value="">
    {% for key, val in c_ext_credit.items %}
        <div class="form-group">
            <label class="col-sm-3 col-md-3 col-lg-2 control-label">{{ val }}</label>
            <div class="col-sm-9 col-md-9 col-lg-10">
                <input type="text" class="form-control input-sm" name="extend[{{ key }}]" id="extend-{{ key }}"  placeholder="数字类型，不可为空">
            </div>
        </div>
    {% endfor %}
</div>
