<div class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name="id" id="form-id" value="">

    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">应用平台</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <input type="text" class="form-control input-sm" disabled value="{{ form_appData.name }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">合同名称</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <input type="text" class="form-control input-sm" id="form-name"  placeholder="英文和下划线，不可为空">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">规则名</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <input type="text" class="form-control input-sm" name="apiName" id="form-apiName"  placeholder="英文和下划线，不可为空">
        </div>
    </div>
    {% for key, val in c_ext_credit.items %}
        <div class="form-group">
            <label class="col-sm-3 col-md-3 col-lg-2 control-label">{{ val }}</label>
            <div class="col-sm-9 col-md-9 col-lg-10">
                <input type="text" class="form-control input-sm" name="extend[{{ key }}]" id="form-{{ key }}"  placeholder="数字类型，不可为空">
            </div>
        </div>
    {% endfor %}
    <div id="form-extend-list"></div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">状态</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <select class="form-control" name="status" id="form-status">
                {% for key,value in c_status.items %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
