{% extends 'admin/layouts/base.html' %}

{% block content %}

<div id="content">
    <div id="content-header" class="mini">
        <h1>项目管理</h1>
    </div>
    <div id="breadcrumb">
        <a href="{% url 'admin:index' %}" class="tip-bottom"><i class="fa fa-home"></i>首页</a>
        <a href="{% url 'admin:company' %}">企业</a>
        <a href="{% url 'admin:app' %}?company_id={{ form_companyData.id }}">应用平台</a>
        <a href="#" class="current">项目</a>
    </div>
    <div class="row">
        <form action="" method="post">
        <div class="col-xs-12 center">
            <label>名称：
                <input type="text" name="name_ch" value="{{ ctrlList.name_ch }}">
            </label>
            <button type="submit" class="btn btn-primary">查询</button>
            <a href="javascript:;" class="btn btn-success" data-form="enable">启用</a>
            <a href="javascript:;" class="btn btn-warning" data-form="disable">禁用</a>
        </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-th"></i>
                    </span>
                    <h5>项目列表</h5>
                </div>
                <div class="widget-content">
                    <table id="data-list-form" class="table table-bordered table-striped table-hover with-check table-data">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
                                    <input type="hidden" id="form-statusType" name="statusType" value="enable" />
                                </th>
                                <th>项目名称</th>
                                <th>总迈豆</th>
                                <th>已使用迈豆</th>
                                <th>状态</th>
                                <th>创建时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in data_list.object_list  %}
                            <tr>
                                <td>
                                    <input data-form="check-model" type="checkbox" name="selection[]" value="{{ list.id }}"/>
                                </td>
                                <td><a href="{% url 'admin:credit_rule' %}?object_id={{ list.id }}">{{ list.name_ch }}</a></td>
                                <td>{{ list.total_beans }}</td>
                                <td>{{ list.used_beans }}</td>
                                <td>
                                    {% for key, val in c_status.items %}
                                        {% if key == list.status %}
                                            {{ val }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ list.create_time |date:"Y-m-d H:i:s" }}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'admin/common/page.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(function () {
    var stats_url = '{% url 'admin:credit_config_stats' %}';
    var form_url = '{% url 'admin:credit_config_form' %}';
    var index_url = window.location.href;
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
    });

    /**
     * 启用
     */
    $('[data-form="enable"]').click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verifyChecked = verifyCheckedForMime(check);
        if(true == verifyChecked){
            enableDataMultiple(check, stats_url, index_url);
        }else {
            return false;
        }
    });

    /**
     * 禁用
     */
    $('[data-form="disable"]').click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verifyChecked = verifyCheckedForMime(check);
        if(true == verifyChecked){
            disableDataMultiple(check, stats_url, index_url);
        }else {
            return false;
        }
    });
});
</script>

{% endblock %}