<!--公共js-->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.custom.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/unicorn.js"></script>
<script src="/static/js/js.cookie.js"></script>
<script src="/static/plugins/sweetalert/sweetalert.min.js"></script>

<script src="/static/js/jquery.icheck.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/jquery.nicescroll.min.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>

<!--弹窗-->
<script src="/static/js/bootbox.min.js"></script>
<script src="/static/js/jquery.gritter.min.js"></script>
<script src="/static/js/jquery.sparkline.min.js"></script>

<!--来自翟钰的自定义函数-->
<script src="/static/js/jquery.common.mime.fun.js"></script>
