<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}用户中心{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/css/jquery.jscrollpane.css" />

    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
    <link rel="stylesheet" href="/static/css/select2.css" />
    <link rel="stylesheet" href="/static/plugins/sweetalert/sweetalert.css" />

    <link rel="stylesheet" href="/static/css/unicorn.css" />

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/js/respond.min.js"></script>
    <![endif]-->

</head>

<body data-color="grey" class="flat">
<div id="wrapper">

{% include 'admin/layouts/tree.html' %}

{% block content %}
<div>这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的默认内容。</div>
{% endblock %}

    <div class="row">
        <div id="footer" class="col-xs-12">
            2012 - 2013 &copy; Unicorn Admin
        </div>
    </div>
</div>

</body>
</html>

<!--公共js-->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.custom.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/unicorn.js"></script>
<script src="/static/js/js.cookie.js"></script>
<script src="/static/plugins/sweetalert/sweetalert.min.js"></script>

<script src="/static/js/jquery.icheck.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/jquery.nicescroll.min.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>

<!--弹窗-->
<script src="/static/js/bootbox.min.js"></script>
<script src="/static/js/jquery.gritter.min.js"></script>
<script src="/static/js/jquery.sparkline.min.js"></script>

<!--来自翟钰的自定义函数-->
<script src="/static/js/jquery.common.mime.fun.js"></script>
