<div id="header">
    <h1><a href="./index.html">Unicorn Admin</a></h1>
    <a id="menu-trigger" href="#"><i class="fa fa-bars"></i></a>
</div>

<div id="user-nav">
    <ul class="btn-group">
        <li class="btn" ><a title="" href="#"><i class="fa fa-user"></i> <span class="text">{{ adminInfo.username }}</span></a></li>

        <li class="btn"><a title="" href="/"><i class="fa fa-share"></i> <span class="text">退出</span></a></li>
    </ul>
</div>

<div id="sidebar">
 	<div id="search">
		<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="fa fa-search"></i></button>
	</div>	
	<ul>
		<li class="active"><a href="#><i class="fa fa-home"></i> <span>控制面板</span></a></li>
		<li class="submenu">
			<a href="#"><i class="fa fa-flask"></i> <span>系统管理员</span> <i class="arrow fa fa-chevron-right"></i></a>
			<ul>
				<li><a href="{% url 'admin:list' %}">管理员列表</a></li>
			</ul>
		</li>
		<li class="submenu">
			<a href="#"><i class="fa fa-th-list"></i> <span>Form elements</span> <i class="arrow fa fa-chevron-right"></i></a>
			<ul>
				<li><a href="form-common.html">Common elements</a></li>
				<li><a href="form-validation.html">Validation</a></li>
				<li><a href="form-wizard.html">Wizard</a></li>
			</ul>
		</li>
		<li><a href="tables.html"><i class="fa fa-th"></i> <span>Tables</span></a></li>
		<li><a href="grid.html"><i class="fa fa-th-list"></i> <span>Grid Layout</span></a></li>
		<li class="submenu">
			<a href="#"><i class="fa fa-file"></i> <span>Sample pages</span> <i class="arrow fa fa-chevron-right"></i></a>
			<ul>
				<li><a href="invoice.html">Invoice</a></li>
				<li><a href="chat.html">Support chat</a></li>
				<li><a href="calendar.html">Calendar</a></li>
				<li><a href="gallery.html">Gallery</a></li>
				<li><a href="messages.html">Messages</a></li>
			</ul>
		</li>
		<li>
			<a href="charts.html"><i class="fa fa-signal"></i> <span>Charts &amp; graphs</span></a>
		</li>
		<li>
			<a href="widgets.html"><i class="fa fa-inbox"></i> <span>Widgets</span></a>
		</li>
	</ul>  

</div>
