{% extends 'admin/layouts/base.html' %}

{% block content %}

<div id="content">
    <div id="content-header" class="mini">
        <h1>用户管理</h1>
    </div>
    <div class="row">
        <form action="" method="post">
        <div class="col-xs-12 center">
            <label>角色：
                <select class="form-control" name="role" id="form-searchRole">
                    <option value="">全部</option>
                    {% for key, val in c_user_role.items %}
                        <option value="{{ key }}">{{ val }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>手机号：
                <input type="text" name="phone" value="{{ ctrlList.phone }}">
            </label>
            <button type="submit" class="btn btn-primary">查询</button>
            <a href="#myModal" data-toggle="modal" class="btn btn-info" data-form="add-model">添加</a>
            <a href="javascript:;" class="btn btn-success" data-form="enable">启用</a>
            <a href="javascript:;" class="btn btn-warning" data-form="disable">禁用</a>
        </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-th"></i>
                    </span>
                    <h5>用户管理列表</h5>
                </div>
                <div class="widget-content">
                    <table id="data-list-form" class="table table-bordered table-striped table-hover with-check table-data">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
                                    <input type="hidden" id="form-statusType" name="statusType" value="enable" />
                                </th>
                                <th>角色</th>
                                <th>用户名</th>
                                <th>手机号</th>
                                {% for key, val in c_ext_credit.items %}
                                    <th>{{ val }}</th>
                                {% endfor %}
                                <th>状态</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in list.object_list  %}
                            <tr>
                                <td>
                                    <input data-form="check-model" type="checkbox" name="selection[]" value="{{ list.id }}"/>
                                </td>
                                <td>
                                    {% for key, val in c_user_role.items %}
                                        {% if key == list.role %}
                                            {{ val }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ list.username }}</td>
                                <td>{{ list.phone }}</td>
                                {% for key, val in c_ext_credit.items %}
                                    <td>
                                    {% for k, v in list.extend.items %}
                                        {% if key == k %}
                                            {{ v }}
                                        {% endif %}
                                    {% endfor %}
                                    </td>
                                {% endfor %}
                                <td>
                                    {% for key, val in c_status.items %}
                                        {% if key == list.status %}
                                            {{ val }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ list.createTime |date:"Y-m-d H:i:s" }}</td>
                                <td>
                                    <a href="#myModal" data-toggle="modal" data-form="edit-model" class="btn btn-default btn-xs"
                                       data-id="{{ list.id }}"
                                       data-role="{{ list.role }}"
                                       data-username="{{ list.username }}"
                                       data-phone="{{ list.phone }}"
                                       {% for key, val in list.extend.items %}
                                       data-{{ key }}="{{ val }}"
                                       {% endfor %}
                                       data-status="{{ list.status }}"
                                    ><i class="fa fa-edit"></i> 编辑</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'admin/common/page.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>用户管理</h3>
            </div>
            <form id="user_form_validate" novalidate="novalidate">
            <div class="modal-body">
                {% include 'admin/user/form.html' %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-small" id="form-submit">确定</button>
                <button data-dismiss="modal" class="btn btn-default btn-small">取消</button>
            </div>
            </form>
        </div>
    </div>
</div>


<script>
$(function () {
    var stats_url = '{% url 'admin:user_stats' %}';
    var form_url = '{% url 'admin:user_form' %}';
    var index_url = window.location.href;
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
    });

    //选中应用
    var searchRole = '{{ ctrlList.role }}';
    if(searchRole){
        $('#form-searchRole').val(searchRole);
    }

    var credit_full_list = [];
    {% for key, val in c_ext_credit.items %}
        credit_full_list['{{ key }}'] = '{{ val }}';
    {% endfor %}

    /**
     * 点击添加按钮触发的操作
     */
    $('[data-form="add-model"]').click(function () {
        var kong = '';
        var role = $('#form-role');
        var searchRole = '{{ ctrlList.role }}';
        var defaultRole = searchRole.find('option:first').val();
        role.val(defaultRole);
        $('#form-id').val(kong);
        $('#form-username').val(kong);
        $('#form-phone').val(kong);
        $('#form-status').val(1);
        for(var i in credit_full_list){
            $('#form-' + i).val(kong);
        }
    });
    /**
     * 点击修改按钮触发的操作
     */
    $('[data-form="edit-model"]').click(function () {
        var id = $(this).attr('data-id');
        var role = $(this).attr('data-role');
        var username = $(this).attr('data-username');
        var phone = $(this).attr('data-phone');
        var status = $(this).attr('data-status');
        $('#form-id').val(id);
        $('#form-role').val(role);
        $('#form-username').val(username);
        $('#form-phone').val(phone);
        $('#form-status').val(status);
        for(var i in credit_full_list){
            $('#form-' + i).val($(this).attr('data-' + i));
        }
    });
    /**
     * 表单验证提交按钮触发的操作
     */
    var rules = {
        username:{
            required:true
        },
        phone:{
            required:true,
            phone:true
        }
        {% for key in c_ext_credit %}
            ,'extend[{{ key }}]':{
                required:true,
                number:true
            }
        {% endfor %}
    };
    subActionAjaxValidateForMime('#user_form_validate', rules, form_url, index_url);

    /**
     * 启用
     */
    $('[data-form="enable"]').click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verifyChecked = verifyCheckedForMime(check);
        if(true == verifyChecked){
            enableDataMultiple(check, stats_url, index_url);
        }else {
            return false;
        }
    });

    /**
     * 禁用
     */
    $('[data-form="disable"]').click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verifyChecked = verifyCheckedForMime(check);
        if(true == verifyChecked){
            disableDataMultiple(check, stats_url, index_url);
        }else {
            return false;
        }
    });


});
</script>

{% endblock %}