{% extends 'admin/layouts/base.html' %}

{% block content %}

<div id="content">
    <div id="content-header" class="mini">
        <h1>积分扩展配置</h1>
    </div>
    <div class="row">
        <form action="" method="get">
        <div class="col-xs-12 center">
            <label>应用名称：
                <select class="form-control" name="appId" id="form-searchAppId">
                    {% for key, val in appList.items %}
                        <option value="{{ key }}">{{ val }}</option>
                    {% endfor %}
                </select>
            </label>
            <button type="submit" class="btn btn-primary">查询</button>
            <a href="#myModal" data-toggle="modal" class="btn btn-info" data-form="add-model">添加</a>
            <a href="javascript:;" class="btn btn-success" data-form="enable">启用</a>
            <a href="javascript:;" class="btn btn-warning" data-form="disable">禁用</a>
        </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-th"></i>
                    </span>
                    <h5>积分扩展列表</h5>
                </div>
                <div class="widget-content">
                    <table id="data-list-form" class="table table-bordered table-striped table-hover with-check table-data">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
                                    <input type="hidden" id="form-statusType" name="statusType" value="enable" />
                                </th>
                                <th>字段</th>
                                <th>名称</th>
                                <th>图标</th>
                                <th>初始值</th>
                                <th>兑换比例</th>
                                <th>状态</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in topics.object_list  %}
                            <tr>
                                <td>
                                    <input data-form="check-model" type="checkbox" name="selection[]" value="{{ list.id }}"/>
                                </td>
                                <td>{{ list.creditName }}</td>
                                <td>{{ list.name }}</td>
                                <td>{{ list.icon }}</td>
                                <td>{{ list.initNum }}</td>
                                <td>{{ list.ratio }}</td>
                                <td>{{ list.statusName }}</td>
                                <td>{{ list.createTime |date:"Y-m-d H:i:s" }}</td>
                                <td>
                                    <a href="#myModal" data-toggle="modal" data-form="edit-model" class="btn btn-default btn-xs"
                                       data-id="{{ list.id }}"
                                       data-appId="{{ list.appId }}"
                                       data-credit="{{ list.credit }}"
                                       data-name="{{ list.name }}"
                                       data-icon="{{ list.icon }}"
                                       data-initNum="{{ list.initNum }}"
                                       data-ratio="{{ list.ratio }}"
                                       data-status="{{ list.status }}"
                                    ><i class="fa fa-edit"></i> 编辑</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'admin/common/page.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>积分扩展</h3>
            </div>
            <form id="credit_form_validate" novalidate="novalidate">
            <div class="modal-body">
                {% include 'admin/credit/form.html' %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-small" id="form-submit">确定</button>
                <button data-dismiss="modal" class="btn btn-default btn-small">取消</button>
            </div>
            </form>
        </div>
    </div>
</div>


<script>
$(function () {
    var stats_url = '{% url 'admin:credit_stats' %}';
    var form_url = '{% url 'admin:credit_form' %}';
    var index_url = window.location.href;
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
    });

    //选中应用
    var searchAppId = '{{ ctrlList.appId }}';
    if(searchAppId){
        $('#form-searchAppId').val(searchAppId);
    }

    /**
     * 点击添加按钮触发的操作
     */
    $('[data-form="add-model"]').click(function () {
        var kong = '';
        var appId = $('#form-appId');
        var credit = $('#form-credit');
        var defaultAppId = appId.find('option:first').val();
        var defaultCredit = credit.find('option:first').val();
        appId.val(defaultAppId);
        credit.val(defaultCredit);
        $('#form-id').val(kong);
        $('#form-name').val(kong);
        $('#form-icon').val(kong);
        $('#form-initNum').val(kong);
        $('#form-ratio').val(kong);
        $('#form-status').val(1);
    });
    /**
     * 点击修改按钮触发的操作
     */
    $('[data-form="edit-model"]').click(function () {
        var id = $(this).attr('data-id');
        var appId = $(this).attr('data-appId');
        var credit = $(this).attr('data-credit');
        var name = $(this).attr('data-name');
        var icon = $(this).attr('data-icon');
        var initNum = $(this).attr('data-initNum');
        var ratio = $(this).attr('data-ratio');
        var status = $(this).attr('data-status');
        $('#form-id').val(id);
        $('#form-appId').val(appId);
        $('#form-credit').val(credit);
        $('#form-name').val(name);
        $('#form-icon').val(icon);
        $('#form-initNum').val(initNum);
        $('#form-ratio').val(ratio);
        $('#form-status').val(status);
    });
    /**
     * 表单验证提交按钮触发的操作
     */
    var rules = {
        name:{
            required:true
        },
        initNum:{
            required:true,
            number:true
        },
        ratio:{
            required:true,
            number:true
        }
    };
    subActionAjaxValidateForMime('#credit_form_validate', rules, form_url, index_url);

    /**
     * 启用
     */
    $('[data-form="enable"]').click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verifyChecked = verifyCheckedForMime(check);
        if(true == verifyChecked){
            enableDataMultiple(check, stats_url, index_url);
        }else {
            return false;
        }
    });

    /**
     * 禁用
     */
    $('[data-form="disable"]').click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verifyChecked = verifyCheckedForMime(check);
        if(true == verifyChecked){
            disableDataMultiple(check, stats_url, index_url);
        }else {
            return false;
        }
    });
});
</script>

{% endblock %}