{% extends 'admin/layouts/base.html' %}

{% block content %}

<div id="content">
    <div id="content-header" class="mini">
        <h1>管理员</h1>
    </div>
    <div class="row">
        <form action="" method="post">
        <div class="col-xs-12 center">
            <label>昵称：
                <input type="text" name="nickname" value="{{ request.nickname }}">
            </label>
            <label>用户名：
                <input type="text" name="username" value="{{ request.username }}">
            </label>
            <label>邮箱：
                <input type="text" name="email" value="{{ request.email }}">
            </label>
            <button type="submit" class="btn btn-primary">查询</button>
            <a href="#myModal" data-toggle="modal" class="btn btn-info" data-form="add-model">添加</a>
            <button class="btn btn-success" data-form="enable">启用</button>
            <button class="btn btn-warning" data-form="disable">禁用</button>
        </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-th"></i>
                    </span>
                    <h5>管理员列表</h5>
                </div>
                <div class="widget-content">
                    <table id="data-list-form" class="table table-bordered table-striped table-hover with-check table-data">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
                                    <input type="hidden" id="form-statusType" name="statusType" value="enable" />
                                </th>
                                <th>用户名</th>
                                <th>昵称</th>
                                <th>邮箱</th>
                                <th>状态</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% if topics %}
                    			{% for data in topics  %}
                            <tr>
                                <td>
                                    <input data-form="check-model" type="checkbox" name="selection[]" value="{{ data.id }}"/>
                                </td>
                                <td>{{ data.username }}</td>
                                <td>{{ data.nickname }}</td>
                                <td>{{ data.email }}</td>
                                <td align="center">
                                	{% ifequal data.status 1 %}
                        	 		<button class="btn btn-info btn-xs">启用</button>
									{% else %}
								    	<button class="btn btn-warning btn-xs">禁用</button>
									{% endifequal %}
                                </td>
                                <td>{{ data.createTime |date:"Y-m-d H:i:s" }}</td>
                                <td>
                                    <a href="#myModal" data-toggle="modal" data-form="edit-model" class="btn btn-default btn-xs"
                                       data-id="{{ data.id }}"
                                       data-nickname="{{ data.nickname }}"
                                       data-username="{{ data.username }}"
                                       data-email="{{ data.email }}"
                                       data-status="{{ data.status }}"
                                    ><i class="fa fa-edit"></i> 编辑</a>
                                </td>
                            </tr>
                            	{% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    {% include 'admin/common/page.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>管理员管理</h3>
            </div>
            <div class="modal-body">
                {% include 'admin/admin/form.html' %}
            </div>
        </div>
    </div>
</div>


<script>
$(function () {
    var stats_url = '{% url 'admin:admin_stats' %}';
    var index_url = '{% url 'admin:admin' %}';
    /**
     * 点击修改按钮触发的操作
     */
    $('[data-form="edit-model"]').click(function () {
        var id = $(this).attr('data-id');
        var nickname = $(this).attr('data-nickname');
        var username = $(this).attr('data-username');
        var password = $(this).attr('data-password');
        var email = $(this).attr('data-email');
        var status = $(this).attr('data-status');
        $("input[type=radio][name=status][value="+status+"]").parent('div').addClass('checked');
        $("input[type=radio][name=status][value="+status+"]").parent().parent().siblings().find('div').removeClass('checked')
        $('#id').val(id);
        $('#nickname').val(nickname);
        $('#username').val(username);
        $('#password').val(password);
        $('#email').val(email);
        $('#status').val(status);
    });
    /**
    * 启用
    */
    $('[data-form="enable"]').click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verifyChecked = verifyCheckedForMime(check);
        if(false == verifyChecked){
            return false;
        }
        swal({
            title: "您确定要启用选中的信息吗",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: '取消',
            confirmButtonColor: "#23c6c8",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            var data = {};
            data.selection = getDataListForMime(check);
            data.statusType = 'enable';
            console.log(data);
            subActionAjaxForMime('post', stats_url, data, index_url);
        });
    });

    /**
     * 禁用
     */
    $('[data-form="disable"]').click(function() {
        /*判断是否有选中*/
        var check = $('#data-list-form').find('input[data-form="check-model"]');
        var verifyChecked = verifyCheckedForMime(check);
        if(false == verifyChecked){
            return false;
        }
        swal({
            title: "您确定要禁用选中的信息吗",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: '取消',
            confirmButtonColor: "#f8ac59",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            var data = {};
            data.selection = getDataListForMime(check);
            data.statusType = 'disable';
            console.log(data);
            subActionAjaxForMime('post', stats_url, data, index_url);
        });
    });
});
</script>

{% endblock %}