<div class="form-horizontal" >
    <input type="hidden" name="id" id="form-id" value="">
    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">合同名称</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <input type="text" class="form-control input-sm" name="name" id="form-name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">合同编号</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <input type="text" class="form-control input-sm" name="number" id="form-number">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">合同金额</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <input type="text" class="form-control input-sm" name="amount" id="form-amount">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">缩略图</label>
        {% include 'common/file-uplaod.html' with inputId='one' actionCtrl='img' uploadPath='img' %}
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">合同期限</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <div class="input-daterange input-group">
                <input type="text" name="startTime" id="form-startTime" class="input-sm form-control" placeholder="开始时间">
                <span class="input-group-addon">到</span>
                <input type="text" name="endTime" id="form-endTime" class="input-sm form-control" placeholder="结束时间">
            </div>
        </div>
    </div>
</div>
