<!--
    上传
{#    {{ saveInput|default:'one' }} 为了区分上传一#}
{#    {{ parentElement|default:'' }} 为了区分上传一#}
{#    {{ modelName|default:'' }} 上传form表单的name#}
{#    {{ actionCtrl|default:'img' }}//上传function#}
{#    {{ uploadPath|default:'img' }}//上传到远程目录#}
-->
<link href="/static/plugins/webuploader/webuploader.css" type="text/css" rel="stylesheet">

<style type="text/css">
.webuploader-container {
    position: relative;
    float: left;
    padding: 0 10px;
}
.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    position: relative;
    cursor: pointer;
    padding: 6px 12px;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    background-color: #f8ac59;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    border: 1px solid #f8ac59;
}
.webuploader-pick-hover {
    background-color: #f7a54a;
    border-color: #f7a54a;
    color: #FFF
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}
.webuploader-container label{
    margin: 0;
}
.webuploader-progress{
    margin: 0;
    margin-top: 7px;
    padding: 0;
    width: 160px;
}
.webuploader-input{
    margin-top: 2px;
}
</style>



<div class=" col-sm-9 col-md-9 col-lg-10">
    <div class="col-sm-5 col-md-5 col-lg-5" style="margin: 0;padding: 0">
        <input readonly class="form-control input-sm webuploader-input" type="text" data-toggle="upload-progressInput-{{ saveInput|default:'one' }}">
    </div>
    <div id="saveInput-{{ saveInput|default:'one' }}"></div>
    <div id="filePicker-{{ saveInput|default:'one' }}">上传</div>

    <div class="progress webuploader-progress">
        <div id="fileList-{{ saveInput|default:'one' }}" role="progressbar" class="progress-bar progress-bar-info">
            <span></span>
        </div>
    </div>
</div>


<script src="/static/plugins/webuploader/webuploader.min.js" type="text/javascript"></script>
<script>
// 初始化Web Uploader
var probar{{ saveInput|default:'one' }} = $('#fileList-{{ saveInput|default:'one' }}');
var progressbarMaxWidth{{ saveInput|default:'one' }} = $('.webuploader-progress').width();
var uploader{{ saveInput|default:'one' }} = WebUploader.create({

    // 选完文件后，是否自动上传。
    auto: true,
    // swf文件路径
    // 文件接收服务端。
    server: '/upload/{{ actionCtrl|default:'img' }}?path={{ uploadPath|default:'img' }}',

    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: '#filePicker-{{ saveInput|default:'one' }}'

});
// 当有文件添加进来的时候
uploader{{ saveInput|default:'one' }}.on( 'fileQueued', function( file ) {


    // 创建缩略图
    // 如果为非图片文件，可以不用调用此方法。
    // thumbnailWidth x thumbnailHeight 为 100 x 100

});
// 文件上传过程中创建进度条实时显示。
uploader{{ saveInput|default:'one' }}.on( 'uploadProgress', function( file , percentage ) {
    probar{{ saveInput|default:'one' }}.removeClass('progress-bar-danger progress-bar-success');
    probar{{ saveInput|default:'one' }}.addClass('progress-bar-info');
    probar{{ saveInput|default:'one' }}.css('width', percentage * progressbarMaxWidth{{ saveInput|default:'one' }});
    probar{{ saveInput|default:'one' }}.find('span').text(Math.round(percentage * 99) + '%');
});

// 文件上传成功，给item添加成功class, 用样式标记上传成功。
uploader{{ saveInput|default:'one' }}.on( 'uploadSuccess', function( file, ret, hds  ) {
    if(200 == ret.code){
        var data = ret.data;
        probar{{ saveInput|default:'one' }}.removeClass('progress-bar-info');
        probar{{ saveInput|default:'one' }}.addClass('progress-bar-success');
        $('[data-toggle="upload-progressInput-{{ saveInput|default:'one' }}"]').val(data.tName);
        saveInput(data.saveName);
    }else {
        probar{{ saveInput|default:'one' }}.removeClass('progress-bar-info');
        probar{{ saveInput|default:'one' }}.addClass('progress-bar-danger');
        $('[data-toggle="upload-progressInput-{{ saveInput|default:'one' }}"]').val('');
        saveInput(false);
    }
    probar{{ saveInput|default:'one' }}.find('span').text(ret.msg);
});

// 文件上传失败，显示上传出错。
uploader{{ saveInput|default:'one' }}.on( 'uploadError', function( file ,reason) {
        probar{{ saveInput|default:'one' }}.removeClass('progress-bar-info');
        probar{{ saveInput|default:'one' }}.addClass('progress-bar-danger');
        probar{{ saveInput|default:'one' }}.find('span').text('上传失败');
        probar{{ saveInput|default:'one' }}.css('width', progressbarMaxWidth{{ saveInput|default:'one' }});
        $('[data-toggle="upload-progressInput-{{ saveInput|default:'one' }}"]').val('');
        saveInput(false);
});
var saveInput =	function (list) {
    var html ='';
    if(list){
        for(var i = 0; i < list.length; i++){
            html += '<input type="hidden" data-toggle="upload-saveInput-{{ saveInput|default:'one' }}" name="{{ modelName }}" value="';
            html += list[i];
            html += '">';
        }
    }
    $('#saveInput-{{ saveInput|default:'one' }}').html(html);
}
</script>



