<div class="form-horizontal">
    <input type="hidden" name="id" id="form-id" value="">
    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">应用平台</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <select class="form-control" name="appId" id="form-appId">
                {% for key, val in appList.items %}
                    <option value="{{ key }}">{{ val }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">兑换比例</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <input type="text" class="form-control input-sm" name="ratio" id="form-ratio">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">状态</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <select class="form-control" name="status" id="form-status">
                {% for key,value in c_status.items %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
