<div id='beans-chart'>
    <div class="row">
        <div class="col-sm-6">
            <div id="chart0" style="width: auto;height:400px;">
            </div>
        </div>
        <div class="col-sm-6">
            <div id="chart1" style="width: auto;height:400px;">
            </div>
        </div>
    </div>
    <div class="row chart_hide">
        <div class="col-sm-6">
            <div id="chart2" style="width: auto;height:400px;">
            </div>
        </div>
        <div class="col-sm-6">
            <div id="chart3" style="width: auto;height:400px;">
            </div>
        </div>
    </div>
    <div class="row chart_hide">
        <div class="col-sm-6 text-center">
            <button type="button" style="width: 15%;" @click='all_data' class="form-control btn btn-primary" style="margin: 0;">全部选中</button>
        </div>
        <div class="col-sm-1 col-sm-offset-1" style="width: auto; margin-left: 10%">
            <select class="form-control" v-model='date.year'>
                <option value="2015">
                    2015年
                </option>
                <option value="2016">
                    2016年
                </option>
            </select>
        </div>
        <div class="col-sm-1" style="width: auto;">
            <select class="form-control" v-model='date.month'>
                <option value="1">一月</option>
                <option value="2">二月</option>
                <option value="3">三月</option>
                <option value="4">四月</option>
                <option value="5">五月</option>
                <option value="6">六月</option>
                <option value="7">七月</option>
                <option value="8">八月</option>
                <option value="9">九月</option>
                <option value="10">十月</option>
                <option value="11">十一月</option>
                <option value="12">十二月</option>
            </select>
        </div>
        <div class="col-sm-1">
            <button type="button" @click='change_date' class="form-control btn btn-primary" style="margin: 0;">查看</button>
        </div>
    </div>
</div>
<!-- chart1 -->
<script>
var url_root = 'http://user.mime.org.cn/';
var now_date = new Date();


var vm = new Vue({
    el: '#beans-chart',
    data: {
        color: ['#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'],
        date: {
            year: now_date.getFullYear(),
            month: now_date.getMonth() + 1
        },
        class_data: [],
        strategy_data: [],
        month_data: [],
    },
    methods: {
        change_date: function() {
            var length = vm.strategy_data.length;
            vm.month_data = [];

            for (var i = 0; i < length; i++) {
                $.post(url_root + 'api/beans_chart/rule_time', {
                        project_id: '{{ ctrl_get.project_id }}',
                        rule_type_name: vm.strategy_data[i].name_en,
                        year: vm.date.year,
                        month: vm.date.month
                    },
                    function(data) {
                        if (data.code == 200 && data.data) {

                            var length = data.data.length;
                            var result = [];
                            for (var j = 0; j < length; j++) {
                                result.push({
                                    name: data.data[j]._id.day,
                                    value: data.data[j].total
                                });
                            };

                            vm.month_data.push({
                                name: vm.strategy_data[i].name,
                                value: result,
                            });
                        } else {
                            vm.month_data = [{
                                name: '本月没有数据',
                                value: {
                                    name: 0,
                                    value: 0
                                }
                            }];
                        }
                    });
            }

            var option4 = {
                title: {
                    text: vm.date.month+'月总计',
                },
                legend: {
                    data: vm.data_head(vm.month_data),
                    // left: '55%',
                },
                xAxis: [{
                    name: vm.date.month + '月',
                    gridIndex: 0,
                    boundaryGap: false,
                    data: function() {
                        var result = [];
                        for (var k = 1; k < 32; k++) {
                            result.push(k);
                        }
                        return result;
                    },
                }],
                yAxis: [{
                    gridIndex: 0,
                }],
                dataZoom: [{
                    xAxisIndex: 0,
                    filterMode: 'empty',
                }, {
                    type: 'inside',
                    xAxisIndex: 0,
                }],
                series: vm.series_change_to_line(vm.month_data),
                tooltip: {
                    trigger: 'axis'
                },
            };
            myChart3.clear();
            myChart3.setOption(option4);

        },
        all_data: function() {
            for (item in vm.strategy_data) {
                myChart3.dispatchAction({
                    type: 'legendSelect',
                    // 图例名称
                    name: vm.strategy_data[item].name
                });
            };
            myChart3.dispatchAction({
                type: 'legendSelect',
                // 图例名称
                name: vm.strategy_data[0].name
            });
        },
        data_head: function(e) {
            var result = [];
            var l = e.length;
            for (var i = 0; i < l; i++) {
                result.push(e[i].name);
            };
            return result;
        },
        data_change_to_bar: function(e) {
            var result = [];
            var l = e.length;
            for (var i = 0; i < l; i++) {
                result.push({
                    name: e[i].name,
                    value: e[i].value,
                    itemStyle: {
                        normal: {
                            color: vm.color[i]
                        }
                    }
                });
            };
            return result;
        },
        series_change_to_line: function(e) {
            console.log(vm.month_data)
            var result = [];
            var l = e.length;
            for (var i = 0; i < l; i++) {
                result.push({
                    type: 'line',
                    stack: 'all',
                    areaStyle: {
                        normal: {}
                    },
                    smooth: true,
                    symbol: 'none',
                    name: e[i].name,
                    data: e[i].value,
                });
            };
            return result;
            console.log(result)
        }
    },
});

$.ajaxSetup({
    async: false,
});

$.post(url_root + 'api/beans_chart/project_type', {
    project_id: '{{ ctrl_get.project_id }}'
}, function(data) {
    if (data.code == 200) {
        var length = data.data.length;
        for (var i = 0; i < length; i++) {
            vm.class_data.push({
                name: data.data[i]._id.rule_type_name,
                value: data.data[i].total,
                rule_type_name: data.data[i]._id.rule_type_name,
                rule_type_name_en: data.data[i]._id.rule_type_name_en,
            })
        };
    }
})


var myChart0 = echarts.init(document.getElementById('chart0'));
var myChart1 = echarts.init(document.getElementById('chart1'));
var myChart2 = echarts.init(document.getElementById('chart2'));
var myChart3 = echarts.init(document.getElementById('chart3'));
$('.chart_hide').addClass('hidden');

var option0 = {
    title: {
        text: '迈豆池发放类型总计',
    },
    tooltip: {
        trigger: 'item',
        formatter: '{b}<br>{c} : {d}% '
    },
    series: [{
        type: 'pie',
        radius: '50%',
        center: ['50%', '50%'],
        data: vm.class_data,
        itemStyle: {
            emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
        },
        label: {
            normal: {
                show: true,
                formatter: '{b}: {d}%'
            }
        }
    }],
};


var option1 = {
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    yAxis: [{
        type: 'value'
    }],
    xAxis: [{
        type: 'category',
        data: vm.data_head(vm.class_data),
    }],
    tooltip: {
        trigger: 'item',
        formatter: '{b}<br>{c} '
    },
    series: [{
        type: 'bar',
        data: vm.data_change_to_bar(vm.class_data),
        label: {
            normal: {
                show: true,
                position: 'top',
            }
        }
    }],
};
myChart0.setOption(option0);
myChart1.setOption(option1);

var chart_click = function(params) {

    myChart2.showLoading;
    myChart3.showLoading;

    vm.strategy_data = [];

    $.post(url_root + 'api/beans_chart/type_rule', {
        project_id: '{{ ctrl_get.project_id }}',
        rule_type_name: function() {
            var l = vm.class_data.length;
            for (var i = 0; i < l; i++) {
                if (params.name == vm.class_data[i].rule_type_name) {
                    return vm.class_data[i].rule_type_name_en
                }
            }
        }
    }, function(data) {
        if (data.code == 200) {
            var length = data.data.length;
            for (var i = 0; i < length; i++) {
                vm.strategy_data.push({
                    name: data.data[i]._id.rule_name_ch,
                    value: data.data[i].total,
                    name_en: data.data[i]._id.rule_type_name_en
                })
            };
            myChart2.hideLoading;
        }
    })

    $('.chart_hide').removeClass('hidden');

    var option2 = {
        title: {
            text: params.name + '类迈豆总计',
        },
        tooltip: {
            trigger: 'item',
            formatter: function(params) {
                if (params.seriesType == 'pie') {
                    return params.name + '<br>' + params.value + '(' + params.percent + '%)'
                }
            },
        },
        series: [{
            type: 'pie',
            radius: '50%',
            center: ['50%', '50%'],
            data: vm.strategy_data,
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            },
            label: {
                normal: {
                    show: true,
                    formatter: '{b}: {d}%'
                }
            }
        }],

    };
    myChart2.setOption(option2);

    vm.change_date();
    myChart2.on('click', function(params) {
        for (item in vm.strategy_data) {
            if (vm.strategy_data[item].name == params.name) {
                myChart3.dispatchAction({
                    type: 'legendSelect',
                    // 图例名称
                    name: vm.strategy_data[item].name
                });
            } else {
                myChart3.dispatchAction({
                    type: 'legendUnSelect',
                    // 图例名称
                    name: vm.strategy_data[item].name
                });
            }
        };
    });
};

myChart1.on('click', function(params) {
    chart_click(params);
});

myChart0.on('click', function(params) {
    chart_click(params);
});
</script>
<hr>
