<div class="row">
    <div class="col-xs-12">
        <div id="chart1" style="width: auto;height:400px;">
        </div>
    </div>
</div>
<hr/>
<div class="row chart_hide">
    <div class="col-xs-6">
        <div id="chart2" style="width: auto;height:400px;">
        </div>
    </div>
    <div class="col-xs-6">
        <div id="chart3" style="width: auto;height:400px;">
        </div>
    </div>
</div>
<div class="row chart_hide">
    <div class="col-xs-1" style="width: auto; margin-left: 60%">
        <select class="form-control" id="select_year">
            <option value="2015">
                2015年
            </option>
            <option value="2016">
                2016年
            </option>
        </select>
    </div>
    <div class="col-xs-1" style="width: auto;">
        <select class="form-control" id="select_month">
            <option value="1">
                一月
            </option>
            <option value="2">
                二月
            </option>
        </select>
    </div>
    <div class="col-xs-1">
       <button class="form-control btn btn-primary" style="margin: 0;">查看</button>
    </div>
</div>
<!-- chart1 -->
<script>
    var color = ['#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'];

  var data_name = ["直接访问", "邮件营销", "联盟广告", "视频广告", "搜索引擎"];

  var myChart1 = echarts.init(document.getElementById('chart1'));
  var option1 = {
    title: {
      text: '迈豆池',
    },
    grid: [
      {x: '6%', width: '38%', height: '68%'},
      {x2: '6%', width: '38%', height: '68%'},
    ],
    xAxis: [
      {
        gridIndex: 1,
        data: data_name
      }
    ],
    yAxis: [
      {
        gridIndex: 1,
      }
    ],
    tooltip: {
      trigger: 'item',
      formatter: function (params) {
        if(params.seriesType == 'pie'){
          return params.name+'<br>'+params.value+'('+params.percent+'%)'
        }
      },
    },
    series: [
      {
        name: '访问来源',
        type: 'pie',
        radius: '50%',
        center: ['24%', '50%'],
        data: [
          {value: 335, name: '直接访问'},
          {value: 310, name: '邮件营销'},
          {value: 234, name: '联盟广告'},
          {value: 135, name: '视频广告'},
          {value: 1548, name: '搜索引擎'}
        ],
        itemStyle: {
          emphasis: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)'
          }
        }
      }, {
        name: '访问来源',
        type: 'bar',
        xAxisIndex: 0,
        yAxisIndex: 0,
        data: [
          {
            value: 335,
            name: '直接访问',
            itemStyle: {
              normal: {
                color: color[0]
              }
            }
          },
          {
            value: 310,
            name: '邮件营销',
            itemStyle: {
              normal: {
                color: color[1]
              }
            }
          },
          {
            value: 234,
            name: '联盟广告',
            itemStyle: {
              normal: {
                color: color[2]
              }
            }
          },
          {
            value: 135,
            name: '视频广告',
            itemStyle: {
              normal: {
                color: color[3]
              }
            }
          }, {
            value: 1548,
            name: '搜索引擎',
            itemStyle: {
              normal: {
                color: color[4]
              }
            }
          }
        ],
        label: {
          normal: {
            show: true,
            position: 'top',
          }
        }
      }
    ]
  };
  myChart1.setOption(option1);

  var myChart2 = echarts.init(document.getElementById('chart2'));
  var myChart3 = echarts.init(document.getElementById('chart3'));
  $('.chart_hide').addClass('hidden');
</script>
<script>
    myChart1.on('click', function (params) {

    $('.chart_hide').removeClass('hidden');
    var option2 = {
      title: {
        text: '迈豆池',
      },
      tooltip: {
        trigger: 'item',
        formatter: function (params) {
          if(params.seriesType == 'pie'){
            return params.name+'<br>'+params.value+'('+params.percent+'%)'
          }
        },
      },
      series: [
        {
          name: '访问来源',
          type: 'pie',
          radius: '50%',
          center: ['50%', '50%'],
          data: [
            {value: 135, name: '直接访问'},
            {value: 210, name: '邮件营销'},
            {value: 734, name: '联盟广告'},
            {value: 1135, name: '视频广告'},
            {value: 548, name: '搜索引擎'}
          ],
          itemStyle: {
            emphasis: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      ]
    };
    myChart2.setOption(option2);
    var option3 = {
      legend: [
        {
          data: data_name,
          // left: '55%',
        }
      ],
      xAxis: [
        {
          name: '1月',
          gridIndex: 0,
          boundaryGap: false,
          data: [1, 2, 3, 4, 5, 7, 8, 9, 10, 11]
        }
      ],
      yAxis: [
        {
          gridIndex: 0,
        }
      ],
      dataZoom: [
        {
          xAxisIndex: 0,
          filterMode: 'empty',
        }, {
          type: 'inside',
          xAxisIndex: 0,
        }
      ],
      series: [
        {
          name: '直接访问',
          type: 'line',
          stack: 'all',
          areaStyle: {normal: {}},
          data: [5, 20, 36, 16, 36, 16, 16, 10, 10, 20],
          smooth: true,
          symbol: 'none',
        }, {
          name: '邮件营销',
          type: 'line',
          stack: 'all',
          areaStyle: {normal: {}},
          data: [5, 36, 16, 16, 10, 10, 20, 36, 16, 20],
          smooth: true,
          symbol: 'none',
        }, {
          name: '联盟广告',
          type: 'line',
          stack: 'all',
          areaStyle: {normal: {}},
          data: [16, 10, 10, 20, 5, 20, 36, 16, 36, 16],
          smooth: true,
          symbol: 'none',
        }, {
          name: '视频广告',
          type: 'line',
          stack: 'all',
          areaStyle: {normal: {}},
          data: [5, 36, 16, 36, 20, 16, 10, 10, 20, 16],
          smooth: true,
          symbol: 'none',
        }, {
          name: '搜索引擎',
          type: 'line',
          stack: 'all',
          areaStyle: {normal: {}},
          data: [36, 16, 10, 5, 16, 10, 20, 36, 16, 20],
          smooth: true,
          symbol: 'none',
        }
      ],
      tooltip: {
          trigger: 'axis'
        },
    };


    myChart3.setOption(option3);
    myChart2.on('click', function (params) {
      for( item in data_name ) {
        if ( data_name[item] == params.name){
          myChart3.dispatchAction({
            type: 'legendSelect',
            // 图例名称
            name: data_name[item]
          });
        } else {
          myChart3.dispatchAction({
            type: 'legendUnSelect',
            // 图例名称
            name: data_name[item]
          });
        }
      };
    });
  });
</script>
<hr/>
