<div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-target="#personal-table1" aria-expanded="true" aria-controls="personal-table1">
           		一月迈豆记录
            </a>
            </div>
			
			<div id="personal-table1" class="collapse in">
            <table class="table table-hover text-center" style="margin: 0;">
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
            </table>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-target="#personal-table2" aria-expanded="true" aria-controls="personal-table2">
           		二月迈豆记录
            </a>
            </div>
			
			<div id="personal-table2" class="collapse in">
            <table class="table table-hover text-center" style="margin: 0;">
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
            </table>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-target="#personal-table3" aria-expanded="true" aria-controls="personal-table3">
           		三月迈豆记录
            </a>
            </div>
			
			<div id="personal-table3" class="collapse in">
            <table class="table table-hover text-center" style="margin: 0;">
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
            </table>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-target="#personal-table4" aria-expanded="true" aria-controls="personal-table4">
           		四月迈豆记录
            </a>
            </div>
			
			<div id="personal-table4" class="collapse in">
            <table class="table table-hover text-center" style="margin: 0;">
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
            </table>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-target="#personal-table5" aria-expanded="true" aria-controls="personal-table5">
           		五月迈豆记录
            </a>
            </div>
			
			<div id="personal-table5" class="collapse in">
            <table class="table table-hover text-center" style="margin: 0;">
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
                <tr>
                    <td>学习</td>
                    <td>+20.00</td>
                    <td>2016-10-10</td>
                </tr>
            </table>
            </div>
        </div>
    </div>

</div>
